// Fix for Roboto font path
$roboto-font-path: '../assets/';

// Materialize styles
@import "materialize";

$blue-1: #7887AB;
$blue-2: #4F628E;
$blue-3: #2E4272;
$blue-4: #162955;
$blue-5: #061539;

@font-face {
  font-family: Aller;
  src: url('../Aller_Lt.ttf');
}

body {
  background-color: $blue-1;
	font-family: Aller;
  img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
}

.home-header {
  background-color: #008940;
}

.loading-page {
  margin-top: 20px;
}

.created-at-format {
  text-align: right;
  color: #999999 !important;
}

.created-at {
  color: #999999 !important;
}

.article-title {
  font-weight: bold !important;
  font-size: 1.5em !important;
  color: #005263;
}

.fgapp-header {
  background-color: $blue-5;
}

.fgapp-card {
  .article-body {
    margin-top: 40px;
  }

  background-color: $blue-5;
  color: white !important;
  span {
    color: white !important;
  }
}

.spinner-layer.spinner-red-only {
  border-color: white !important;
}

.footer-menu {
  position: fixed;
  bottom: 0;
  z-index: 3;
  background-color: white;
  width: 100%;
  padding: 15px;
  padding-bottom: 0px;
}

main {
  margin-bottom: 80px;
}

.active i {
  color: #061539;
}

i {
  color: #7887AB;
}

.button-collapse {
  display: none;
}

.card-reveal {
  color: black !important;
  height: 100%;
}

.read-more {
  text-transform: initial !important;
  color: #ffffff !important;
}
