{{#md-card title=model.title titleClass="article-title" id="basic-card" class="fgapp-card"}}
  {{#md-card-content}}
    <p class="created-at-format">{{moment-format model.createdAt}}</p>
    <p class="article-body">
      {{{parse-image-link model.body}}}<
    </p>
  {{/md-card-content}}
{{/md-card}}
