<div class="footer-menu">
  <div class="row">
    <div class="col s3">
      <center>
        {{#link-to 'news'}}
          <i class="small material-icons">list</i>
        {{/link-to}}
      </center>
    </div>

    <div class="col s3">
      <center>
        {{#link-to 'write'}}
          <i class="small material-icons">mode_edit</i>
        {{/link-to}}
      </center>
    </div>

    <div class="col s3">
      <center>
        {{#link-to 'professors'}}
          <i class="small material-icons">contacts</i>
        {{/link-to}}
      </center>
    </div>

    <div class="col s3">
      <center>
        {{#link-to 'search'}}
          <i class="small material-icons">search</i>
        {{/link-to}}
      </center>
    </div>
  </div>
</div>
