{{#each model as |article|}}

  {{#md-card title=article.title class='fgapp-card'}}
    {{#md-card-content}}
      {{{article.abstract}}}
      <p class="created-at">{{moment-format article.createdAt 'MM/DD/YYYY'}}</p>
      <i><p>{{{truncate-text article.body}}}</p></i>
    {{/md-card-content}}

    {{#md-card-action}}
      {{#link-to 'article' article.id class='read-more'}}
        Continuar lendo...
      {{/link-to}}
    {{/md-card-action}}
  {{/md-card}}

{{/each}}
