{{#each model as |prof|}}
  {{#md-card title=prof.name
    activator=true
    titleClass="orange-text"
    class="fgapp-card"
  }}

    {{#md-card-content}}
    {{/md-card-content}}

    {{#md-card-reveal}}
      <img src='https://fga.unb.br/{{prof.image.portrait_url}}'/>
      <p>Email: {{prof.additionalData.email}}</p>
    {{/md-card-reveal}}

  {{/md-card}}
{{/each}}
